.transactionItem {
  cursor: pointer;
  // padding: 10px;
  border-radius: var(--mantine-radius-md);
  // background-color: var(--mantine-color-gray-1);

  .transactionItemIcon {
    border-radius: var(--mantine-radius-md);
    padding: 16px;
    background-color: var(--mantine-color-oat-2) !important;
    color: var(--mantine-color-secondary-6);
    // border: 1px solid var(--mantine-color-secondary-5);
  }

  .transactionItemBody {
    // background-color: var(--mantine-color-gray-1);
    border-radius: var(--mantine-radius-md);
    width: 100%;
    // padding-left: 0px;
  }
}
