.heading {
  @include mantine.dark {
    color: var(--mantine-color-gray-3);
  }

  @include mantine.light {
    color: var(--mantine-color-gray-8);
  }

  &:is(h1) {
    font-size: 2rem;

    @include mantine.media-from(md) {
      font-size: 2.5rem;
    }

    @include mantine.media-from(lg) {
      font-size: 3rem;
    }
  }

  &:is(h2) {
    font-size: 1.75rem;

    @include mantine.media-from(md) {
      font-size: 2rem;
    }

    @include mantine.media-from(lg) {
      font-size: 2.5rem;
    }
  }

  &:is(h3) {
    font-size: 1.5rem;

    @include mantine.media-from(md) {
      font-size: 1.75rem;
    }

    @include mantine.media-from(lg) {
      font-size: 2rem;
    }
  }

  &:is(h4) {
    font-size: 1.25rem;

    @include mantine.media-from(md) {
      font-size: 1.5rem;
    }

    @include mantine.media-from(lg) {
      font-size: 1.75rem;
    }
  }

  &:is(h5) {
    font-size: 1rem;

    @include mantine.media-from(md) {
      font-size: 1.25rem;
    }

    @include mantine.media-from(lg) {
      font-size: 1.5rem;
    }
  }

  &:is(h6) {
    font-size: 0.875rem;

    @include mantine.media-from(md) {
      font-size: 1rem;
    }

    @include mantine.media-from(lg) {
      font-size: 1.25rem;
    }
  }
}

.text {
  @include mantine.dark {
    color: var(--mantine-color-gray-4);
  }

  @include mantine.light {
    color: var(--mantine-color-gray-8);
  }
}
